@model HeaderVM
@{
    Layout = null;
}

<header class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center">
                    <img src="~/assets/img/Facebook-logo.png" width="75" alt="">
                    <div>
                        <form method="post" asp-controller="Home" asp-action="SearchUser" class="search rounded-pill border border-dark overflow-hidden">
                            <input asp-for="search" class="form-control border-0" placeholder="Facebook'ta ara">
                            <button type="submit" class="btn py-2 px-3 text-white bg-transparent border-0">
                                <i class="fas fa-search ps-3"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-md-block">
                <ul class="row social-icons justify-content-center align-items-center h-100 m-0">
                    <li class="col-3 h-100 d-flex justify-content-center align-items-center">
                        <a href="">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="col-3 h-100 d-flex justify-content-center align-items-center">
                        <a href="">
                            <i class="fas fa-user-friends"></i>
                        </a>
                    </li>
                    <li class="col-3 h-100 d-flex justify-content-center align-items-center active">
                        <a href="">
                            <i class="fas fa-video"></i>
                        </a>
                    </li>
                    <li class="col-3 h-100 d-flex justify-content-center align-items-center">
                        <a href="">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-4 offset-4 offset-md-0">
                <ul class="d-flex align-items-center justify-content-end m-0">
                    <li class="user d-none d-xl-block">
                        <a href="" class="d-flex align-items-center">
                            <img src="~/assets/img/1.jpg" class="overflow-hidden rounded-circle" alt="avatar"
                                 width="30" height="30">
                            <h5 class="text-white my-0 mx-2">Cavid</h5>
                        </a>
                    </li>
                    <li class="menu-icon mx-2">
                        <a href=""><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="menu-icon mx-2">
                        <a href=""><i class="fab fa-facebook-messenger"></i></a>
                    </li>
                    <li class="menu-icon mx-2">
                        <a href=""><i class="fas fa-bell"></i></a>
                    </li>
                    <li class="menu-icon mx-2">
                        <a href=""><i class="fas fa-caret-down"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>   