@model StoryBoxVM
@{
    Layout = null;
}

<label>
    <input asp-for="@Model.Behavior.Id" hidden />
    is
    <img src="~/assets/img/emotions/@Model.Behavior.Icon" width="20" height="20" class="emotion-icon" /> feeling
    <a href="" class="text-hover-underline text-white feeling emotion-open"> @Model.Behavior.Text</a>
</label>
