@model ChatViewModel
@{
    Layout = null;
}

@if (Model.Message.SenderId == Model.Sender.Id && Model.Message.AcceptorId == Model.Acceptor.Id)
{
    <div class="message-sent">
        <p class="message">
            @Model.Message.Text
        </p>
    </div>
}
else if (Model.Message.SenderId == Model.Acceptor.Id && Model.Message.AcceptorId == Model.Sender.Id)
{
    <div class="message-come d-flex">
        <img src="~/assets/img/@Model.Sender.Profile" width="30" height="30" class="rounded-circle mx-2" alt="profile" />
        <p class="message">@Model.Message.Text</p>
    </div>
}